@{
    Layout = null;
}
@using Sample.Models
@model Sample.Models.Sample01ViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Sample01", FormMethod.Post))
        {
            @Html.DropDownList("ddlCountries", Model.GetCountriesListItems(), "Select a country", new {@onchange = "this.form.submit();"});
            <span>@Model.SelectedCountry</span>
        }
    </div>
</body>
</html>
